<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script>
    const roomName = "<%= roomName %>"
  </script>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
  <script defer src="script.js"></script>
  <style>
    body {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
    }

    #message-container {
      width: 80%;
      max-width: 1200px;
    }

    /* #message-container div {
      background-color: #CCC;
      padding: 5px;
    }

    #message-container div:nth-child(2n) {
      background-color: #FFF;
    } */

    #send-container {
      position: fixed;
      padding-bottom: 30px;
      bottom: 0;
      background-color: white;
      max-width: 1200px;
      width: 80%;
      display: flex;
    }

    #message-input {
      flex-grow: 1;
      height: 35px;
      border: none;
      border-bottom: 1px solid gray;
      background-color: #f5f5f5;
      margin-right: 20px;
    }

    #message-input:focus-visible {
      outline: none;
      border-bottom: 2px solid gray;
    }

    #send-button {
      width: 100px;
      background: royalblue;
      border: navajowhite;
      color: white;
      border-radius: 5px;
      font-size: 14px;
      font-family: cursive;
    }
    .message-bubble {
      width: fit-content;
      border-radius: 5px;
      padding: 7px;
      background-color: #e1e1e1;
      margin: 10px 0px;
      font-family: cursive;
    }
    .self {
      background-color: royalblue !important;
      color: white;
    }

    .notice{
      width: 100%;
      background-color: transparent;
      text-align: center;
      color: #607D8B;
    }
  </style>
</head>
<body>
  <div id="message-container"></div>
  <form id="send-container">
    <input type="text" id="message-input" placeholder="Type your message here...">
    <button type="submit" id="send-button">Send</button>
  </form>
</body>
</html>